* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 12%;
}

.logo {
    color: #141313;
    font-size: 32px;
    font-weight: 700;
}

.logo span {
    color: #FF6D64;
}

.navlist {
    display: flex;
    align-items: center;
}

.navlist a {
    color: #141313;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 20px;
    transition: all 0.42s;
}

.navlist a:hover {
    color: #FF6D64;
}

.btn-icon {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #141313;
    font-weight: 700;
    background: transparent;
    padding: 10px 20px;
    border: 2px solid #141313;
    border-radius: 10px;
    transition: all 0.42s;
}

.btn:hover {
    background-color: #141313;
    color: #FFF;
}

#menu-icon {
    font-size: 35px;
    color: #141313;
    z-index: 1000;
    cursor: pointer;
    margin-left: 10px;
    display: none;
}

/*Home*/
section {
    padding: 100px 12%;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url(../images/BGAvatar.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-text h3 {
    color: #FF6D64;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.home-text h1 {
    color: #141313;
    font-size: 66px;
    font-weight: 700;
    line-height: 100px;
    text-transform: capitalize;
}

.home-text h1 span {
    color: #FF6D64;
}

.text-animation {
    font-size: 34px;
    font-weight: 700;
    min-width: 280px;
    margin-bottom: 20px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "Web Developer";
    color: #FF6D64;
    animation: words 12s infinite;
}

.text-animation span::after {
    content: "";
    background-color: #FFF;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #FFF;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #FF6D64;
    }
}

@keyframes words {

    0%,
    33% {
        content: "Web Developer";
    }

    34%,
    66% {
        content: "UI / UX Designer";
    }

    67%,
    100% {
        content: "Mobile App";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.home-text h4 {
    color: #141313;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: -0.96px;
}

.home-text h4 span {
    color: #FF6D64;
    font-weight: 400;
}

.home-text p {
    max-width: 490px;
    color: #141313;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin: 0 0px 28px;
}

.social-icon i {
    color: #FFF;
    font-size: 20px;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FF6D64;
    background: #FF6D64;
    margin-right: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    transition: all 0.42s;
}

.social-icon i:hover {
    background: transparent;
    color: #FF6D64;
}

.main-btn {
    display: flex;
    align-items: center;
}

.mn-btn img {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-left: 6px;
}

.mn-btn {
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 10px 20px;
    background: #141313;
    border: 2px solid #141313;
    border-radius: 10px;
    transition: all 0.42s;
}

.mn-btn:hover {
    background: transparent;
    color: #141313;
}

.scroll {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    transition: all 0.42s;
}

.scroll a {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #FF6D64;
    font-weight: 500;
}

.scroll i {
    font-size: 22px;
    color: #141313;
}

.scroll:hover {
    scale: 1.2;
}

/*Sticky-header*/
header.sticky {
    background: #FFF;
    padding: 14px 12%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    transition: all 0.42s;
}

/*About*/
.about-img {
    position: relative;
    width: 375px;
    height: 150px;
}

.about-img img {
    max-width: 100%;
    width: 375px;
    height: auto;
    border-radius: 50%;
}

#movingImage {
    bottom: 0;
    position: absolute;
    animation: moveUpDown 2s infinite alternate;
    transition: box-shadow 0.3s ease;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY(-5%);
    }
}

.about-center {
    text-align: center;
}

.about-center h5 {
    color: #141313;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
}

.about-center h1 {
    color: #141313;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 120px;
}

.about-center h1 span {
    color: #FF6D64;
}

.about-sec {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 3rem;
}

.about-text h6 {
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    padding: 10px 20px;
    background: #141313;
    color: #FFF;
    border-radius: 12px;
}

hr {
    border-top: 2px solid #141313;
    border-radius: 10px;
    margin: 40px 0;
}

.experience {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 2rem;
    margin-bottom: 50px;
}

.ex2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.Ex1 h1 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -2.4px;
    margin-right: 10px;
}

.ten {
    color: #FF6D64;
}

.Ex1 h5 {
    color: #141313;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
}

.Ex1 p {
    color: #141313;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

/*Services*/
.serv-center {
    text-align: center;
}

.serv-center h1 {
    color: #141313;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.serv-center h5 {
    color: #141313;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 100px;
}

.serv-center h1 span {
    color: #FF6D64;
}

.main-serv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
}

.main-serv .serv {
    padding: 35px 25px;
    background: #141313;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.42s;
}

.serv i {
    color: #FFF;
    font-size: 45px;
    margin-bottom: 10px;
}

.serv h4 {
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.serv p {
    color: #C0BBBB;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 15px;
}

.serv-btn a {
    color: #FF6D64;
}

.main-serv .serv:hover {
    transform: translateY(-8px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/*Work*/
.work-cent {
    text-align: center;
}

.work-cent h1 {
    color: #141313;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.work-cent h1 span {
    color: #FF6D64;
}

.work-cent h5 {
    color: #141313;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 120px;
}

.main-works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 6rem;
}

.smpl-1 {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.smpl-1 h6 {
    color: #141313;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 15px;
}

.smpl-1 h1 {
    color: #141313;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 40px;
    margin-bottom: 10px;
}

.wk-icon img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.work-img {
    overflow: hidden;
}

.work-img img {
    max-width: 100%;
    width: 300px;
    height: auto;
    transition: all 0.42s;
}

.work-img:hover img {
    transform: scale(1.1);
    filter: brightness(50%) hue-rotate(45deg);
}

/*Blog*/
.blog-text {
    text-align: center;
}

.blog-text h1 {
    color: #141313;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-text h1 span {
    color: #FF6D64;
}

.blog-text h5 {
    color: #141313;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 120px;
}

.blog-sec {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 4rem;
}

.blog-img {
    overflow: hidden;
}

.blog-img img {
    max-width: 100%;
    width: 100%;
    height: auto;
    transition: all 0.42s;
}

.blog-img:hover img {
    transform: scale(1.1);
    filter: brightness(50%) hue-rotate(45deg);
}

.blog-1 h5 {
    color: #141313;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    margin: 15px 0;
}

.blog-1 h1 {
    color: #141313;
    font-size: 24px;
    font-weight: 700;
    text-transform: lowercase;
    line-height: 32px;
}

.blogs-btn {
    text-align: center;
    margin-top: 80px;
}

/*Contact*/
.contact {
    background: linear-gradient(270deg, #ffb2ae 5.74%, #FF6D64 50.64%, #fc4a41 92.05%);
}

.cont-text {
    text-align: center;
}

.cont-text h1 {
    color: #141313;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 700;
}

.cont-text h5 {
    color: #141313;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    margin: 10px 0px 60px;
}

.main-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 6rem
}

.main-fir h5 {
    color: #141313;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 15px;
}

.main-fir h1 {
    color: #141313;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-fir p {
    max-width: 450px;
    color: #222121;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 40px;
}

.main-fir div {
    display: flex;
}

.main-fir i {
    font-size: 25px;
    margin: 7.5px 5px;
}

.main-fir h4 {
    color: #141313;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    line-height: 40px;
}

.main-cont {
    align-items: center;
}

.main-cont h2 {
    color: #141313;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.input {
    max-width: 100%;
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    position: relative;
}

.input:valid {
    border-color: #00ff2a;
    color: #00ff2a;
    box-shadow: 2px 2px 8px 1px #00ff2a;
}

.input:invalid {
    border-color: #ff0000;
    color: #ff0000;
    box-shadow: 2px 2px 8px 1px #ff0000;
}

.text {
    margin-top: 10px;
    color: black;
}

form div {
    max-width: 100%;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    border: none;
    outline: none;
}

form .msg {
    padding: 20px 0px 60px 17px;
}

.btn-shine {
    max-width: 100%;
    width: 100%;
}

button {
    position: relative;
    margin: 0;
    padding: 17px 35px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fff;
    border: 3px solid #FF6D64;
    border-radius: 10px;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button span {
    color: #164ca7;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

button:hover {
    animation: rotate624 0.7s ease-in-out both;
}

button:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate624 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm1261 {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

.btn-shine {
    border: 1px solid #FF6D64;
    overflow: hidden;
    position: relative;
}

.btn-shine span {
    z-index: 20;
    color: #FF6D64;
}

.btn-shine:after {
    background: #FF6D64;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

.btn-shine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/*End-text*/
.end-text {
    background-color: #141313;
    text-align: center;
    padding: 20px;
}

.end-text p {
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
}

/*Responsive*/
@media(max-width: 1200px) {
    header {
        padding: 30px 4%;
        transition: 0.3s;
    }

    section {
        padding: 80px 4%;
        transition: 0.3s;
    }

    header.sticky {
        padding: 14px 4%;
    }
}

@media(max-width: 1090px) {
    .home-text h1 {
        font-size: 60px;
        line-height: 90px;
        transition: 0.3s;
    }

    .home-text h4 {
        font-size: 20px;
        transition: 0.3s;
    }

    .scroll {
        display: none;
    }
}

@media(max-width: 630px) {
    .home-text h1 {
        font-size: 46px;
        line-height: 85px;
        transition: 0.3s;
    }

    .smpl-1 h1 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 5px;
    }

    .smpl-1 h6 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .wk-icon img {
        width: 50px;
        height: 50px;
    }
}

@media(max-width: 1000px) {
    .about-sec {
        grid-template-columns: 1fr;
    }

    .about-img {
        text-align: center;
        margin-top: -20px;
        margin-left: -55px;
    }

    .about-img img {
        width: 175px;
        height: auto;
    }

    .main-contact {
        grid-template-columns: 1fr;
    }

    .main-fir {
        text-align: center;
    }

    .main-fir p {
        display: inline-block;
    }
}

@media(max-width:720px) {
    .about-center h1 {
        margin-bottom: 80px;
        transition: 0.3s;
    }
}

@media(max-width: 910px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #141313;
        padding: 120px 30px;
        border-radius: 10px;
        transition: all 0.42s;
    }

    .navlist a {
        color: #FFF;
        display: block;
        margin: 10px 0;
    }

    .navlist.open {
        right: 0;
    }
}